@using iIdentity.S23E06.AuthNAuthZ.Models.AAA.Data
@*@model List<IdentityUser>*@
@model List<ApplicationUser>

<a class="btn btn-success mb-1" asp-controller="Users" asp-action="Create">Create User</a>

<table class="table table-responsive table-light table-bordered table-hover">

    <thead class="table-primary">
        <tr>
            @*<th>Id</th>*@
            <th>Username</th>
            <th>Email</th>
            @*<th>Password</th>*@
            <th>SSN</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count <= 0)
        {
            <tr>
                <td colspan="4">There is no user in database.</td>
            </tr>
        }
        else
        {
            @foreach (var user in Model)
            {
                <tr>
                    @*<td>@user.Id</td>*@
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    @*<td>@user.PasswordHash</td>*@
                    <td>@user.SSN</td>
                    <td class="text-center">
                        @*<form class="d-inline" asp-controller="Users" asp-action="Edit" method="get">
                            <input type="hidden" value="@user.Id" name="id">
                            <input type="submit" value="Edit" class="btn btn-sm btn-primary m-1">
                        </form>*@

                        <a class="btn btn-sm btn-primary m-1" asp-controller="Users" asp-action="Edit" asp-route-Id="@user.Id">Edit</a>

                        <form class="d-inline" asp-controller="Users" asp-action="Delete" method="post">
                            <input type="hidden" value="@user.Id" name="id">
                            <input type="submit" value="Delete" class="btn btn-sm btn-danger m-1">
                        </form>
                        
                        <a class="btn btn-sm btn-primary m-1" asp-controller="Users" asp-action="EditUserRoles" asp-route-Id="@user.Id">Edit User Role</a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>